@keyframes star-animate {
	from {
		top: 100%;
	}
	to {
		top: 0;
	}
}

@-moz-keyframes moz-star-animate {
	from {
		top: 100%;
	}
	to {
		top: 0;
	}
}

@-ms-keyframes ms-star-animate {
	from {
		top: 100%;
	}
	to {
		top: 0;
	}
}

@-webkit-keyframes webkit-star-animate {
	from {
		top: 100%;
	}
	to {
		top: 0;
	}
}

.star-lg-animate {
	animation: star-animate 40s linear;
	-webkit-animation: webkit-star-animate 40s linear;
	-moz-animation: moz-star-animate 40s linear;
	-ms-animation: ms-star-animate 40s linear;
}

.star-md-animate {
	animation: star-animate 30s linear;
	-webkit-animation: webkit-star-animate 30s linear;
	-moz-animation: moz-star-animate 30s linear;
	-ms-animation: ms-star-animate 30s linear;
}

.star-sm-animate {
	animation: star-animate 18s linear;
	-webkit-animation: webkit-star-animate 18s linear;
	-moz-animation: moz-star-animate 18s linear;
	-ms-animation: ms-star-animate 18s linear;
}

.star-lg {
	position: absolute;
	height: 4px;
	width: 3px;
	background-color: white;
}

.star-md {
	position: absolute;
	height: 3px;
	width: 2px;
	background-color: white;
}

.star-sm {
	position: absolute;
	height: 2px;
	width: 1px;
	background-color: white;
}