* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

ul,
li {
	list-style: none;
}

p {
	margin: 0;
	padding: 0;
}

a,
a:link,
a:active,
a:visited,
a:hover {
	color: white;
}

.clearfix:after {
	content: ".";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

#pp-nav li .active span,
.pp-slidesNav .active span {
	background: white !important;
}

#pp-nav span,
.pp-slidesNav span {
	border: 1px solid #666666 !important;
}

.section {
	text-align: center;
	font: 50px "Microsoft Yahei";
	color: #fff;
	background-size: cover;
}

#starry-sky {
	background: radial-gradient(ellipse at bottom, rgb(27, 39, 60) 0%, #090a0f 100%);
}

.sky-star {
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

.sky-star>div {
	position: absolute;
	width: 100%;
	height: 100%;
}

.section .content {
	vertical-align: middle;
	position: relative;
	z-index: 4;
}

.title {
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
	text-align: center;
	font-family: "lato", sans-serif;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 10px;
	margin-top: 0;
	margin-bottom: 30px;
}

.title-mini {
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
	text-align: center;
	font-family: "lato", sans-serif;
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 5px;
	margin-top: 0;
	margin-bottom: 50px;
}

.title-menu {
	font-size: 28px;
	letter-spacing: 3px;
	font-weight: 300;
	font-family: impact;
}

.title-menu span {
	cursor: pointer;
}

.title-menu span img {
	position: relative;
	top: 5px;
}

.margin-rt-15 {
	margin-right: 15px;
}

.margin-bt-20 {
	margin-bottom: 20px;
}

.loading-box {
	position: absolute;
	z-index: 99999;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 1;
}

.loading-ball {
	position: absolute;
	height: 300px;
	width: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	border-radius: 50%;
	border: 1px solid black;
	overflow: hidden;
}

.loading-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 230px;
	background-color: rgb(27, 39, 60);
	animation: loadingBottom 1.5s linear;
}


/*.loading-bottom p {
	text-align: center;
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
	font-family: "lato", sans-serif;
	font-size: 25px;
	margin-top: 70px;
}*/

.loading-img {
	position: absolute;
	height: 35px;
	width: 1106px;
	bottom: 230px;
	animation: loadingImgY 1.5s linear;
}

.loading-img img {
	float: left;
}

@keyframes loadingBottom {
	from {
		height: 0;
	}
	to {
		height: 230px;
	}
}

@keyframes loadingBottom2 {
	from {
		height: 230px;
	}
	to {
		height: 300px;
	}
}

@keyframes loadingImgY {
	from {
		bottom: 0;
	}
	to {
		bottom: 230px;
	}
}

@keyframes loadingImgY2 {
	from {
		bottom: 230px;
	}
	to {
		bottom: 300px;
	}
}

@keyframes pMarginChange {
	from {
		margin-top: 70px;
	}
	to {
		margin-top: 140px;
	}
}


/*moon-sky*/

#moon-sky {
	background: radial-gradient(ellipse at bottom, rgb(27, 39, 60) 0%, #090a0f 100%);
}

.moon-content {
	width: 1200px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.moon-img {
	position: absolute;
	bottom: -500px;
	left: 0px;
	transform: rotate(-13deg);
}

.moon-rise {
	animation: moonRise 2s linear;
}

@keyframes moonRise {
	from {
		bottom: -500px;
		left: 0;
	}
	to {
		bottom: 70px;
		left: 80px;
	}
}

.technology {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 400px;
	width: 500px;
	z-index: 3;
	opacity: 0;
}

.technology .title {
	margin-bottom: 20px;
	font-size: 35px;
	color: #FFFFFF;
	-webkit-text-fill-color: white;
}

.technology-list,
.aboutme-list {
	margin: -5px;
	padding: 5px;
	width: 100%;
	font-size: 16px;
}

.technology-list li {
	margin: 5px 10px;
	float: left;
}

.technology-list li {
	padding: 2px 10px;
	border-radius: 5px;
}

.shulian {
	background-color: rgba(255, 255, 255, 0.4);
}

.shuxi {
	background-color: rgba(255, 255, 255, 0.2);
}

.liaojie {
	background-color: rgba(255, 255, 255, 0.1);
}

.aboutme-list {
	margin-top: 10px;
}

.aboutme-list li {
	margin: 5px 10px;
	padding: 2px 10px;
	border-radius: 5px;
	background-color: rgba(68, 81, 87, 0.5);
	float: left;
}

.technologyShow {
	animation: technologyShowAni 2s linear;
}

@keyframes technologyShowAni {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.sun-sky {
	height: 50%;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: radial-gradient(ellipse at bottom, #394F74 0%, #090a0f 100%);
}

.sun-sea {
	height: 50%;
	width: 100%;
	background: radial-gradient(ellipse at top, #090a0f 0%, #394F74 100%);
}

.sun-img {
	position: absolute;
	width: 100px;
	height: 100px;
	bottom: -100px;
	left: 50%;
	transform: translateX(-50%);
}

.sunRise {
	animation: sunRiseAni 2s linear;
}

@keyframes sunRiseAni {
	from {
		bottom: -100px;
	}
	to {
		bottom: 100px;
	}
}

.page-title {
	position: absolute;
	z-index: 5;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 35px;
}

.project-list {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-list>div {
	position: absolute;
}

.left-top {
	left: 0;
	top: 0;
	width: 50%;
	height: 50%;
}

.right-top .project-box,
.left-top .project-box {
	bottom: 50px;
}

.right-top {
	left: 50%;
	top: 0;
	width: 50%;
	height: 50%;
}

.left-bottom {
	left: 0;
	top: 50%;
	width: 50%;
	height: 50%;
}

.right-bottom .project-box,
.left-bottom .project-box {
	top: 50px;
}

.right-bottom {
	left: 50%;
	top: 50%;
	width: 50%;
	height: 50%;
}

.project-box {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 100px;
	width: 450px;
	opacity: 0;
}

.project-title {
	padding: 0px 10px;
}

.project-title span {
	font-size: 22px;
}

.project-title span:last-child {
	font-size: 16px;
	position: relative;
	top: 7px;
}

.project-use {
	font-size: 16px;
}

.project-use p {
	text-align: left;
}

.project-use ul {
	padding-left: 0px;
	margin: 5px 0;
}

.project-use ul li {
	font-size: 14px;
	float: left;
	margin: 3px 8px;
	padding: 2px 8px;
	border-radius: 5px;
	background-color: rgba(68, 81, 87, 0.5);
	color: white !important;
	float: left;
}

.project-code {
	font-size: 16px;
	text-align: left;
}

.color-top {
	color: #394F74 !important;
}

.color-bottom {
	color: white !important;
}

.project-icon {
	float: left;
	width: 60px;
	height: 60px;
	padding: 20px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.5);
}

.project-content {
	float: right;
	width: 350px;
	height: 100px;
}

#end-page {
	background: radial-gradient(ellipse at bottom, #ffff99 0%, #99ffff 100%);
}

.end-font {
	font-size: 40px;
	color: #666666;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.can-select {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}