* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p {
	margin: 0;
	padding: 0;
}

.section {
	text-align: center;
	font: 50px "Microsoft Yahei";
	color: #fff;
	background-size: cover;
}

#starry-sky {
	background: radial-gradient(ellipse at bottom, rgb(27, 39, 60) 0%, #090a0f 100%);
}

.sky-star {
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

.sky-star>div {
	position: absolute;
	width: 100%;
	height: 100%;
}

.section .content {
	vertical-align: middle;
	position: relative;
	z-index: 4;
}

.title {
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
	text-align: center;
	font-family: "lato", sans-serif;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 10px;
	margin-top: 0;
	margin-bottom: 30px;
}

.title-mini {
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
	text-align: center;
	font-family: "lato", sans-serif;
	font-weight: 300;
	font-size: 30px;
	letter-spacing: 5px;
	margin-top: 0;
	margin-bottom: 50px;
}

.title-menu {
	font-size: 28px;
	letter-spacing: 3px;
	font-weight: 300;
	font-family: impact;
}

.title-menu span {
	cursor: pointer;
}

.title-menu span img {
	position: relative;
	top: 5px;
}

.margin-rt-15 {
	margin-right: 15px;
}

.margin-bt-20 {
	margin-bottom: 20px;
}

.loading-box {
	position: absolute;
	z-index: 99999;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 1;
}

.loading-ball {
	position: absolute;
	height: 300px;
	width: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
	border-radius: 50%;
	border: 1px solid black;
	overflow: hidden;
}

.loading-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 230px;
	background-color: rgb(27, 39, 60);
	animation: loadingBottom 2s linear;
}

.loading-bottom p {
	text-align: center;
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #fff;
	font-family: "lato", sans-serif;
	font-size: 25px;
	margin-top: 70px;
}

.loading-img {
	position: absolute;
	height: 35px;
	width: 1106px;
	bottom: 230px;
	animation: loadingImgY 2s linear;
}

.loading-img img {
	float: left;
}

@keyframes loadingBottom{
	from{
		height: 0;
	}
	to{
		height: 230px;
	}
}

@keyframes loadingBottom2{
	from{
		height: 230px;
	}
	to{
		height: 300px;
	}
}

@keyframes loadingImgY{
	from{
		bottom: 0;
	}
	
	to{
		bottom: 230px;
	}
}

@keyframes loadingImgY2{
	from{
		bottom: 230px;
	}
	
	to{
		bottom: 300px;
	}
}

@keyframes pMarginChange{
	from{
		margin-top: 70px;
	}
	to{
		margin-top: 140px;
	}
}

